version: '3.7'

services:
  mariadb:
    container_name: MariaDB
    networks:
      - inception_network
    build:
      context: requirements/mariadb
      dockerfile: Dockerfile
    env_file: .env
    volumes:
      - mariadb:/var/lib/mysql
    restart: on-failure
    expose:
      - "3306"

  nginx:
    container_name: NGINX
    volumes:
      - wordpress:/var/www/wordpress
    networks:
      - inception_network
#    depends_on:
#      - wordpress
    build:
      context: requirements/nginx
      dockerfile: Dockerfile
    env_file: .env
    ports:
      - "443:443"
    restart: on-failure

  # wordpress:
  #   container_name: WordPress
  #   env_file: .env
  #   volumes:
  #     - wordpress:/var/www/wordpress
  #   networks:
  #     - inception
  #   build:
  #     context: requirements/wordpress
  #     dockerfile: Dockerfile
  #   depends_on:
  #     - mariadb
  #   restart: on-failure
  #   expose:
  #     - "9000"

volumes:
  wordpress:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '${PWD}/data/wordpress'
  mariadb:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '${PWD}/data/mariadb'

networks:
  inception_network:
    driver: bridge
